/*atalho*/
:root {
    --cor0: #f97100;
    --cor1: #fff;
    --cor2: #ed8317;
    --cor3: #ffb500;
    --cor4: #939393;
    --cor5: #0000ff;
    --fonte0: sans-serif;
}

/*configuração global*/

* {
    margin: 0;
}

html, body {
    height: 100%;
}

.topo, .rodape {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-family: var(--fonte0);
    color: var(--cor1);
    background-color: var(--cor0);
}

.img-capa {
    width: 100%;
}

h1 {
    width: 100%;
    text-align: center;
    margin: 30px 0;
    font-family: var(--fonte0);
}

.info {
    margin: 30px auto 30px auto;
}

.info p {
    width: 100%;
    font-family: var(--fonte0);
    font-size: 16px;
    line-height: 35px;
}

.secao {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}
.area {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
}

.card {
    width: 320px;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--cor3);
    margin: 0 30px 0 0;
    border-radius: 15px;
}

.card-sombra {
    box-shadow: inset 0 0 15px 12px var(--cor2);
}

.card h2 {
    font-family: var(--fonte0);
    color: var(--cor1);
    font-size: 29px;
}

.card img {
    width: 150px;
    height: 150px;
    margin: 12px 0;
}

.informacoes {
    width: 100%;
    margin: 12px 0;
}

.card ul {
    font-size: 18px;
    color: var(--cor1);
    font-family: var(--fonte0);
    line-height: 30px;
}

.area-image {
    overflow-x: scroll;
    margin: 0 auto 40px auto;
}

.area-image img {
    width: 315px;
    margin: 12px;
}

.image-sombra {
    box-shadow: 10px 10px 10px var(--cor4);
}

.info a {
    color: var(--cor5);
}