:root {
    --cor0: #c4a47c;
    --cor1: #fff;
    --cor2: #000000;
    --cor3: #604829;
    --cor4: #666;
    --cor5: #ACACAC;
    --font0: 'Fraunces', serif;
    --font2: 'Oswald' , sans-serif;
    --font3: 'Lato' , sans-serif;
}


/*CONFIGURAÇÔES GLOBAIS*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*CONFIGURAÇÕES TOPO*/

.container-topo {
    width: 100%;
    height: 90px;
    background-color: var(--cor3);
    position: fixed;
    z-index: 1;
}

.container-topo img {
    width: 100px;
    position: relative;
    left: 10%;
}

/*CONFIGURAÇÃO MENU*/

.menu {
    position: absolute;
    top: 35%;
    right: 10%;
}

.menu a {
    color: var(--cor1);
    text-decoration: none;
    font-family: var(--font0);
    letter-spacing: 2px;
    padding: 3px;
}

/*CONFIGURAÇÃO BANNER PARALAX 1*/

.container-banner {
    background-image: url('assets/parallax-imagem1.png');
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.container-banner h1 {
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 90px;
    color: var(--cor1);
}

/*CONFIGURAÇÃO INFORMAÇÕES*/

.informacoes {
    max-width: 1024px;
    margin: 0px auto;
    text-align: center;
    background-color: var(--cor1);
}

.informacoes h2 {
    padding: 80px 0;
    font-family: var(--font2);
    color: var(--cor0);
}

.informacoes p {
    padding-bottom: 80px;
    text-align: center;
    font-size: 18px;
    font-family: var(--font3);
    line-height: 30px;
    color: var(--cor4);
}

/*PARALAX*/

.paralax1 {
    background-image: url('assets/parallax-imagem2.jpg');
    height: 50vh;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.text {
    color: var(--cor1);
    font-family: var(--font3);
    font-size: 24px;
    font-style: italic;
    text-align: center;
    position: relative;
    top: 50%;
}

.text span {
    border: 1px solid var(--cor3); 
    background-color: var(--cor3);
    border-radius: 3px;
    padding: 10px;
}

.paralax2 {
    background-image: url('assets/parallax-imagem3.jpg');
    height: 50vh;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

/*CONTATOS*/

.paralax3 {
    background-image: url('assets/parallax-imagem4.png');
    height: 100vh;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.paralax3 h2 {
    width: 300px;
    padding: 10px;
    position: relative;
    top: 8%;
    right: 0;
    left: 0;
    margin: auto;
    font-size: 23px;
    font-family: var(--font2);
    letter-spacing: 3px;
    text-align: center;
    color: var(--cor1);
    background-color: var(--cor3);
}

.paralax3 iframe {
    position: relative;
    top: 13%;
    left: 30%;
    right: 0;
    margin: auto;
}

.box-contatos {
    width: 500px;
    padding: 10px;
    position: relative;
    top: 15%;
    right: 0;
    left: 0;
    margin: auto;
    background-color: var(--cor3);
}

.box-contatos p {
    color: var(--cor1);
    font-family: var(--font2);
    font-size: 15px;
    letter-spacing: 1px;
    text-align: center;
}

/*HORÁRIO*/

.paralax4 {
    background-image: url('assets/cafeteria.jpg');
    height: 75vh;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.horario h2 {
    position: relative;
    margin: 0 auto;
    padding: 80px;
    top: 25%;
    right: 0;
    left: 0;
    font-family: var(--font2);
    text-align: center;
    letter-spacing: 8px;
    color: var(--cor1);
}

.lista {
    max-width: 768px;
    position: relative;
    margin: 0 auto;
    padding-bottom: 75px;
    bottom: 20%;
    right: 0;
    left: 0;
    font-family: var(--font2);
    list-style: none;
    line-height: 40px;
}

.lista li {
    position: relative;
    color: var(--cor1);
}

.lista li div {
    width: 70%;
    height: 1px;
    position: absolute;
    margin: 0 auto;
    top: 50%;
    right: 0;
    left: 0;
    background-color: #ACACAC
}

.lista li p, .text-marrom {
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 700;
    font-family: var(--font2);
}

.text-marrom {
    color: var(--cor3);
}

/*RODAPE*/

.rodape {
    position: relative;
    padding: 20px 0;
    line-height: 34px;
    letter-spacing: 2px;
    font-weight: 600;
    font-family: var(--font3);
    text-align: center;
    background-color: var(--cor2);
    color: var(--cor1);
}

.rodape a {
    display: inline-block;
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 80px;
    right: 50px;
}