/*configuração global*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    background-color: #00318b;
    color: #fff;
    font-size: 24px;
    padding: 15px;
    width: 100%;
}

main {
    width: 100%;
    max-width: 430px;
    width: 100%;
    height: 100%;
    margin: 40px auto;
}

h1 {
    color: #00318b;
    text-align: center;
}

p {
    margin: 25px 0 20px 0;
    line-height: 25px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

textarea {
    height: 120px;
    margin: 30px 0 25px 0;
    padding: 10px;
    font-size: 18px;
}

button {
    background-color: #00318b;
    color: #fff;
    padding: 10px;
    margin-top: 20px;
}

