/*ATALHOS*/
:root {
    --cor0: #3c184e;
    --cor1: #fff;
    /*CORES PARA SOMBREADOS*/
    --cor2: #1f26875e;
    /*CORES PARA SOMBREADOS DE FOTOS*/
    --cor3: #0000005c;
    /*COR PARA O BANNER*/
    --cor4: #ffffffc4;

}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
} 

p, a, h1, h2, h3, span {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.secao {
    padding: 120px 80px;
    text-align: center;
}

.logo-tipo {
    padding: 120px 0px 0px 120px;
    max-width: 250px;
    color: var(--cor0);
    font-weight: bold;
}

.logo-tipo img {
    width: 30px;
    margin-right: 5px;
}

.logo-tipo span{

    font-size: 35px;  
}


.logo-tipo p {
    font-size: 15px;
    text-align: center;
}

.capa {
    background-image: url('img/banner-topo.jpg');
    background-position: center;
    background-size: cover;
    padding-bottom: 20px;
}

.caixa-capa {
    max-width: 1024px;
    border-radius: 10px;
    padding: 40px;
    margin: 70px auto;
    background-color: var(--cor4);
    box-shadow: 0px 8px 32px #1f26875e;
    text-align: center;
}

.caixa-capa h1 {
    font-size: 40px;
    color: var(--cor0);
}

.botao {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 200px;
    padding: 10px;
    margin: 5px;
    border: 1px solid var(--cor0);background-color: var(--cor0);
    border-radius: 10px;
    display: inline-block;
    
}

.botao  a {
    color: var(--cor1);
    font-style: none;
    text-decoration: none;
}

.serviços {
    max-width: 800px;
    margin: 0 auto;
}

.servicos h3 {
    color: var(--cor0);
    text-align: center;
    font-size: 35px;
    padding-top: 10px;
    margin-bottom: 25px;
}

.lista-servicos {
    max-width: 800px;
    margin: 0px auto;
    color: var(--cor0);
}

.lista-servicos p {
    margin-bottom: 20px;
    font-size: 19px;
    line-height: 30px; 
}

.lista-servicos span {
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
}

.img-servicos {
    max-width: 800px;
    margin: 0 auto;
    overflow: auto;
}

.img-servicos img {
    margin-bottom: 30px;
    margin-right: 5px;
}

.img-sombra {
    border-radius: 10px;
    box-shadow: 3px 6px 10px 6px #0000005c;
}

.link-especial {
    background-color: var(--cor0);
    color: var(--cor1);
}

.link-especial p {
    margin: 0 auto;
    font-size: 19px;
    margin-bottom: 20px;
}

.link-especial span {
    font-style: italic;
    font-weight: bold;
}

.img-link img {
    width: 30px;
    height: 30px;
}

.img-link a {
    color: var(--cor1);
    text-decoration: none;
    margin-right: 10px;
}

.marcas {
    width: 100%;
    text-align: center;
}

.marcas h3 {
    color: var(--cor0);
    margin: 30px 0;
    text-align: center;
    font-size: 35px; 
    text-align: center;
}

.img-marcas {
    width: 100%;
    max-width: 800px;
    padding-bottom: 15px;
    margin: 0 auto;
}

.img-especial {
    width: 148px;
    height: 148px;
    margin: 0 15px;
    display: inline;
}

.teste {
    margin-right: 30px;
}

.local {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.local h3 {
    color: var(--cor0);
    font-size: 35px;
}

.local p {
    color: var(--cor0);
    font-size: 19px;
    font-weight: bold;
    margin: 0 0 20px 0; 
}

iframe {
    width: 800px;
    height: 450px;
}

.rodape {
    width: 100%;
    background-color: var(--cor0);
    color: var(--cor1);
    padding: 10px 0;
    margin-top: 20px;
}

.rodape p {
    font-size: 19px;
    text-align: center;
}