/*Configuração geral*/

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #80808029;
    font-family: 'Raleway Dots', serif;
    font-weight: 900;
}

/*Configuração topo*/

.limite {
    max-width: 1024px;
}

header {
    width: 100%;
    height: 55px;
    background-color: #fff;
    display: flex;
    justify-content: center;
}

.topo {
    width: 100%;
    max-width: 1024px;
    height: 100%;
    display: flex;
    align-items: center;
}

.topo img {
    width: 32px;
    height: 32px;
}

.topo p {
    font-size: 24px;
    color: #5d15d1;
    margin-left: 10px;
    font-weight: bold;
}

/*Configurando o formulário*/

main {
    width: 100%;
    height: auto;
}

.secao-background {
    
    background: url('../assets/img/bahia.jpg')
    no-repeat ;
}

.form-conteudo {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 50px 0 50px 0;
}

.topo-conteudo {   
    height: 35px;
    background-color: #5d15d1;
    display: flex;
    justify-content: center;
}

.topo-conteudo img {
    width: 20px;
    height: 20px;
    rotate: -45deg;
    align-self: center;
}

.topo-conteudo h1 {
    color: #fff;
    font-size: 18px;
    margin-left: 5px;
    align-self: center;
}

.conteudo-formulario {
    width: 100%;
    background: #fff;
    padding: 30px 25px 20px 25px;
    box-sizing: border-box;
}

.conteudo-formulario h2 {
    font-size: 22px;
    margin-bottom: 24px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form label {
    font-size: 16px;
}

.form input, .form select {
    width: 100%;
    height: 32px;
    margin: 10px 0;
}

.form input {
    padding: 0 5px;
    box-sizing: border-box;
}

.form select {
    padding: 0 3px;
}

.campo-duplo {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.campo-duplo div {
    width: calc(50% - 10px);
}

.quarto {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.quarto div {
    display: flex;
    align-items: center;
    width: 120px;
}

.quarto input {
    width: 15px;
}

.quarto label {
    margin-left: 8px;
}

.form button {
    width: 160px;
    height: 32px;
    background: #5d15d1;
    color: #fff;
    font-size: 16px;
    border: none;
    margin-top: 12px;
    cursor: pointer;
}

/*Configuração parte oferta*/

.ofertas, .natureza {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 32px auto 0 auto; 
}

.ofertas-titulo, .natureza-titulo {
    font-size: 20px;
    margin-bottom: 10px;
    color: black;
}

.ofertas-descrição, .natureza-descricao {
    font-size: 16px;
    margin-bottom: 15px;
}

.img-ofertas {
    width: 100%;
    height: 375px;
    display: flex;
    justify-content: space-between;
}

.oferta-img-destaque {
    position: relative;
    width: calc(50% - 10px);
    height: 100%;
}

.oferta-quatro-img {
    width: calc(50% - 10px);
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.oferta-quatro-img figure {
    position: relative;
    width: calc(50% - 10px);
    height: calc(50% - 10px);
    margin: 0 6px;
}

.oferta-img-destaque img, .oferta-quatro-img img {
    object-fit: cover; /*determina como um elemento se "comporta" dentro de seu contêiner*/
    width: 100%;
    height: 100%;
}

.oferta-img-destaque figcaption, .oferta-quatro-img figcaption {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgb(0 0 0 / 50%);
    font-size: 17px;
    color: #fff;
    padding: 5px 10px;
    box-sizing: border-box;
}

/*Area de anuncios (natureza) */

.img-dois-anuncios {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.natureza-img {
    width: calc(50% - 10px);
    height: 100%;
}

.natureza-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.natureza-img div {
    width: 100%;
    padding: 20px;
    background: #fff;
    box-sizing: border-box;
}

.natureza-img h3 {
    font-size: 16px;
}

.natureza-img p {
    color: #808080;
    font-size: 14px;
    margin-top: 15px;
}

footer {
    width: 100%;
    background: #5d15d1;
    margin-top: 32px;
}

.rodape {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.contato {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.contato h3 {
    color: #fff;
    margin-bottom: 15px;
    font-size: 20px;
}

.contato div {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.contato img {
    width: 18px;
}

.contato  span {
    color: #fff;
    font-size: 14px;
    margin-left: 10px;
}

/*Configuração media queries*/

@media (max-width: 1100px) {
    .limite {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .form button {
        width: 100%;
    }

    .img-ofertas {
        height: 100%;
        flex-direction: column;
    }

    .oferta-quatro-img {
        width: 100%;
    }

    .oferta-img-destaque, .oferta-quatro-img figure {
        width: 100%;
        height: 225px;
        margin: 15px;
    }

    .img-dois-anuncios {
        flex-direction: column;
    }

    .natureza-img {
        width: 100%;
        margin: 15px;
    }

    .rodape {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contato {
        width: 250px;
    }
}

@media (max-width: 540px) {
    .campo-duplo, .quarto {
        display: flex;
        flex-direction: column;
    }

    .campo-duplo div, .quarto div {
        width: 100%;
    }
}

