/*Configuração global*/
* {
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body {
    background-color: #F9F8F4;
    margin: 0;
    padding: 0;
}

.limite {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}



/*Configuração topo / menu */
.background-capa {
    background-image: url('assets/img/fotos-galerias/enhanced-image\ \(4\).png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 900px;
    position: relative;
}

.topo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 10px;
    margin: 0 auto;
}


.topo-logo img {
    margin: 50px 0 20px 0;
    height: 85px;
    width: 85px;
}

.links-topo {
    display: flex;
}

.topo-link {
    padding: 40px;
    text-decoration: none;
    color: #F9F8F4;
    font-weight: 500;
    font-size: 23px;
}

.topo-link:hover {
    color: #BC6C25;
}

.box-titulo-capa {
    width: 100%;
    margin-top: 90px;
    text-align: center;
    color: #F9F8F4;
    font-size: 30px;
}






