/*Configuração global*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font: 'Ysabeau', sans-serif;
    --font2: 'Montserrat', sans-serif;
    
    /*Paleta de cores pra usar no primeiro banner*/

    --cor1: #ffdf00; /*cor para usar na logo*/
    --cor2: #009c3b; /*cor para usar na logo*/
    --cor3: #fff; /*Cor para usar na sombra do titulo*/ /*hover*/
    --cor4: #000000; /*Cor para usar na sombra do titulo*/ /*hover*/
    --cor5: #0200006e; /*cor usada na parte dos links*/
    --cor6: #000000cc; /*Cor usada na parte da tabelo */
}

/*Primeiro banner*/

