/*Configuração global*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font: 'Ysabeau';
    --font2: 'Montserrat';
    
    /*Paleta de cores pra usar no primeiro banner*/

    --cor1: #ffdf00; /*cor para usar na logo*/
    --cor2: #009c3b; /*cor para usar na logo*/
    --cor3: #fff; /*Cor para usar na sombra do titulo*/ /*hover*/
    --cor4: #000000; /*Cor para usar na sombra do titulo*/ /*hover*/
    --cor5: #0200006e; /*cor usada na parte dos links*/
    --cor6: #000000cc; /*Cor usada na parte da tabelo */
}

/*Primeiro banner*/

.video-banner {
    width: 100%;
    height: 100vh;
}

.logo {
    font-family: "Ysabeau", sans-serif;
    text-align: center;
}

.logo img {
    width: 200px;
    height: 200px;
    gap: 20px;
    border-radius: 50%;
}

.links nav {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    margin: 0 auto;
    width: 768px;
}

.links nav a {
    width: 100%;
    margin: 10px;
    padding: 10px;
    border-radius: 30px;
    background-color: var(--cor5);
}




/*Segundo banner*/

#estatisticas {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    height: 100vh;
    text-align: center;
}

.estatisticas h2 {
    margin: 40px;
}



.tabela table th{
    padding: 20px;
}

td, th {
    padding: .7em;
    margin: 0;
    /*border: 1px solid #ccc;*/
    text-align: center;
  }
  
  th{
    /*background-color: #EEE;*/
  }
  td{
    font-weight:bold;
    /*background-color: #EEE;*/
  }
  
  table{
    width: 100%;
    
  }